header {
    display: flex;
    position: static;
    width: 100vw;
    height: 1in;
    background-color: #ffffff;
    box-shadow: 0px -3px 3px #C8C9C7;
    padding: 4px 0;
  }
  .header-content {
    position: static;
    height: center;
    align-self: center;
    width: 80%;
  }
  
  .header-content p {
    width: fit-content;
    font-size: 2rem;
    text-align: center;
    color: rgb(139, 243, 79);
  }
  .header-img {
    border-right: 5px solid;
    border-color: rgb(183, 247, 181);
  }